.loginForm {
  block-size: 100vh;
  display: flex;
  justify-content: center;
  background-color: white;
  padding: 20px;
  background-size: cover;
  background-position: center;
}

.loginContents {
  block-size: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sc-ion-input-md-h.sc-ion-input-md-s.md.input-fill-outline.input-label-placement-floating {
  color: black;
}

ion-input {
  margin-block-start: 10px;
}

.loginContents ion-button {
  inline-size: 100%;
}
